@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    font-size: 12px;
    font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1:first-child {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
    border-top: none;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 5px;
}