@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
    font-size: 12px;
    font-family: "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 5px;
}